body {
    margin: 0;
    height: 100vh;
}

.content {
    display: flex;
    flex-flow: row wrap;
    height: 100vh;
}

#image {
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    color: white;
    background-color: black;
    opacity: 50%;
    font-size: 50px;
    width: 100%;
    text-align: center;
}

#image {
    background-image: url(https://source.unsplash.com/gtDjIFsZT8g);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    width: 40vw;
}

#content-right {
    width: 60vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background-color: rgb(215, 215, 213);
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem
}
#sign-header{
    background-color: rgb(159, 159, 159);
    margin-bottom: 0;
    padding: 1.5rem;
}
form {
    background-color: rgb(159, 159, 159);
    width: 60vw;
    font-size: 1rem;
    padding-left: 1.5rem;
    padding-bottom: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5em;
}

.input-row {
    display: flex;
    flex-direction: column;
}

label {
    display: block;
}

input {
    height: 20px;
    width: 80%;
}