body {
    margin: 0;
    height: 100vh;
}
.content {
    display: flex;
    flex-flow: row wrap;
    height: 100vh;
}
#image {
    background-image: url(https://source.unsplash.com/gtDjIFsZT8g);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    width: 40vw;
}

#content-right {
    width: 60vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

#header {
    background-color: azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    background-color: rgb(159, 159, 159);
    display: flex;
    flex-direction: column;
    padding: 3rem;
}
